<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.murmur.red.xscheduler</string>
    <key>ProgramArguments</key>
    <array>
        <string>__PYTHON__</string>
        <string>__SCRIPT__</string>
        <string>post</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__WORKDIR__</string>
    <key>StartInterval</key>
    <integer>600</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__LOG__</string>
    <key>StandardErrorPath</key>
    <string>__LOG__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>